.contain {
    margin: 2% 7%;
    text-align: center;
}

.comp-col {
    min-height: 300px;
    max-height: 300px;
    text-align: center;
}

.com-info {
    max-height: 280px;
    min-height: 280px;
}

.mac-data {
    max-height: 200px;
    width: 100% !important;
    text-align: center;
}

.mac-data a {
    color: #26a69a;
    text-transform: none;
}

.mac-data a:hover {
    color: #64b5f6;
}

.mac-cost p {
    position: absolute;
    bottom: 0;
    left: 25%;
}

.contain ul li {
    display: inline-block;
}

.contain ul {
    text-align: left;
    padding: 0 15px;
}

.comp-image img{
    width: 70%;
    height: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
}