.contain {
    margin: 2% 7%;
    text-align: center;
}

.comp-col {
    min-height: 300px;
    max-height: 300px;
    text-align: center;
}

.com-info {
    max-height: 280px;
    min-height: 280px;
}

.mac-img {
    max-height: 200px;
    width: 100% !important;
    text-align: center;
}

.mac-img img {
    max-height: 200px;
}

.mac-img a {
    color: #26a69a;
    text-transform: none;
}

.mac-img a:hover {
    color: #64b5f6;
}

.contain ul li {
    display: inline-block;
}

.contain ul {
    text-align: left;
    padding: 0 15px;
}