{% extends "base_site.html" %}
{% load staticfiles %}
{% load humanize %}

{% block local_css %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/computer_list.css' %}">

{% endblock local_css %}

{% block content %}
    
    <div class='contain'>
        <ul>
            <li class='right'>
                <a href="{% url 'computer_create' %}">
                    <button class='btn waves'>Add New Computer</button>
                </a>   
            </li>
            <li><h5>ALL COMPUTERS</h5></li>
        </ul>
        <div class='row'>
        {% for computer in object_list  %}
            <div class='col s3 comp-col'>
                <div style='margin: 5px' class='com-info card'>
                    <div class='mac-data'>
                        <a href="{% url 'computer_edit' pk=computer.id %}" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Edit Computer Details">
                            <span>{{ computer }} <i class='mdi-editor-mode-edit'></i></span>
                        </a>  
                    </div>
                    <div>
                        <img src="{{computer.comp_img.secure_url}}" onerror="this.src='{% static 'img/mac-pic.jpeg' %}'" width="80%" height="80%">
                    </div>
                    <div class="mac-cost">
                        <p>Cost: &#8358;{{ computer.cost|intcomma }}</p>
                    </div>
                </div>
            </div>  
        {% endfor %}
        </div>
    </div>

{% endblock content %}

{% block local_js %}
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('.tooltipped').tooltip({delay: 50});
        });
    </script>   

{% endblock local_js %}