{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>MacPay</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/materialize/css/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>

    {% block local_css %}
        
    {% endblock local_css %}
</head>
<body>

    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{% url 'home' %}" class="brand-logo">MacPay</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if request.user.is_authenticated %}
                        <li>
                            <div class="nav-wrapper search-wrapper">
                                <form>
                                    <div class="input-field">
                                        <input id="search" type="search" class='white-text' placeholder="Enter Fellow Name here" required>
                                        <label for="search"><i class="mdi-action-search white-text"></i></label>
                                        <i class="mdi-navigation-close"></i>
                                    </div>
                              </form>
                            </div>
                        </li>
                    {% endif %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li><a href="#" class='dropdown-button' data-beloworigin="true" data-activates='dropdown1'>{{ request.user.username }}<b class='caret'></b></a></li>
                        <ul id='dropdown1' class='dropdown-content'>
                            <li class='drop-links'><a href="{% url 'admin:index' %}">Admininster site</a></li>
                            <li class="divider"></li>
                            <li class='drop-links'><a href="{% url 'computer_list' %}">Computers</a></li>
                            <li class="divider"></li>
                            <li class='drop-links'><a href="{% url 'computer_create' %}">Add New Computer</a></li>
                            <li class="divider"></li>
                            <li class='drop-links'><a href="{% url 'logout' %}">Logout</a></li>
                            <li class="divider"></li>
                        </ul>
                    {% else %}
                        <li><a href="#login-modal" class="modal-trigger">Login</a></li>
                    {% endif %}
                    
                </ul>
            </div>
      </nav>
    </header>

    <section>
        {% block content %}
            
        {% endblock content %}
    </section>

    {% block footer %}
        
    {% endblock footer %}

    <script type="text/javascript" src="{% static 'lib/jquery-2.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/materialize/js/materialize.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $('.modal-trigger').leanModal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                in_duration: 300, // Transition in duration
                out_duration: 200, // Transition out duration
            });

            $('.dropdown-button').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrain_width: false, // Does not change width of dropdown to that of the activator
                hover: true, // Activate on hover
                gutter: 0, // Spacing from edge
                belowOrigin: false // Displays dropdown below the button
            });
        });
    </script>

    {% block local_js %}
        
    {% endblock local_js %}
</body>
</html>