{% extends "base_site.html" %}
{% load staticfiles %}
{% load cloudinary %}

{% block local_css %}

    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/computer-creation.css' %}">

{% endblock local_css %}

{% block content %}
    
    <div class="container">
        <div class='dashboard-back'>
            <a href="{% url 'dashboard' %}"><i class="mdi-navigation-arrow-back right"></i>Go Back To Dashboard</a> 
        </div>
        <div class='divider'></div>

        {% if computer %}
            
            <form method='POST' action='{% url "computer_edit" pk=computer.id %}'>{% csrf_token %}
                <input type='hidden' name='pk' value='{{ computer.id }}'/>
                <div>
                    {{form.name.errors}}
                    <label for='name'>Name</label>
                    <input type='text' id='name' name='name' value='{{computer.name}}' /> 
                </div>
                <div>
                    {{form.model.errors}}
                    <label for='model'>Model</label>
                    <input type='text' id='model' name='model' value='{{computer.model}}' /> 
                </div>
                <div>
                    {{form.cost.errors}}
                    <label for='cost'>Cost</label>
                    <input type='number' id='cost' name='cost' value='{{computer.cost}}' /> 
                </div>
                <div>
                    <button type='submit'>Edit</button>
                </div>
            </form>
        {% else %}
            <form method='POST' action='{% url "computer_create" %}' enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    {{form.name.errors}}
                    <label for='name'>Name</label>
                    {{form.name}} 
                </div>
                <div>
                    {{form.model.errors}}
                    <label for='model'>Model</label>
                    {{form.model}} 
                </div>
                <div>
                    {{form.cost.errors}}
                    <label for='cost'>Cost</label>
                    {{form.cost}} 
                </div>
                <div class="file-field input-field">
                    <div class="row">
                        <div class="col s3">
                            <div class="btn">
                            <span>Choose computer photo</span>   
                            <input type="file" id="select-photo" name="photo-url"/>
                            </div>
                        </div>
                        <div class="col s9 offset-s3">
                            <input class="file-path validate photo-url-text" type="text"/>
                        </div>
                    </div>  
                </div>
                <div>
                    <button type='submit' class='btn waves right'>Create</button>
                </div>
            </form>
        {% endif %}
        
    </div>

{% endblock content %}

{% block local_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".photo-url-text").change(function(){
                $(this).val($(this).val().replace(/^.*\\/, ""));
            });  
        });
    </script>
{% endblock local_js %}