{% extends "base_site.html" %}
{% load staticfiles %}
{% load humanize %}

{% block local_css %}

    <link rel="stylesheet" type="text/css" href="{% static "stylesheets/create-plan.css" %}">

{% endblock local_css %}

{% block content %}
    <div class="container">
        <div class='card-panel form-title'>
            <h5>CREATE NEW MAC PAYMENT PLAN FOR:</h5>

            <div class="divider"></div>
            <h5>{{ fellow }}</h5>

            <div class="divider"></div>
        </div>

        <div class="divider"></div>

        <div class="card form">
            <form action="{% url 'create_plan' pk=fellow.id %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col s6">
                        <span class="error">{{ form.computer.errors }}</span>
                        <label for="computer">Computer</label>
                        {{ form.computer }}
                    </div>

                    <div class="col s6">
                        <span class="error">{{ form.payment_plan.errors }}</span>
                        <label for="payment_plan">Payment Plan</label>
                        {{ form.payment_plan }}
                    </div>
                </div>

                <div class="row">
                    <span class="error">{{ form.payment_start_date.errors }}</span>
                    <label for="payment_start_date">Payment Start Date:</label>
                    {{ form.payment_start_date }}
                </div>

                <div class="col s6">
                    <span class="error">{{ form.amount_paid.errors }}</span>
                    <label for="amount_paid">Prior Payment</label>
                    {{ form.amount_paid }}
                </div>

                <div class="create-button">
                    <button class="btn waves-effect waves-light" name="action" type="submit">Create
                    </button>
                </div>

            </form>
        </div>
    </div>

{% endblock content %}


{% block local_js %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>

{% endblock local_js %}