{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="home-body">
    <div class="welcome-message">
        <p class="flow-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
        </p>
    </div>

    <!-- Modal Structure -->
    <div id="login-modal" class="modal">
        <div class="modal-content">
            {% if form.errors %}
                <p class="error">Sorry, Username or Password is incorrect</p>
            {% endif %}
            <div class="login-form">
                <h5>Login</h5>
                <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                    <div>
                        <div class="input-field">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username">
                        </div>

                        <div class="input-field">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password">
                        </div>

                        <div class="input-field">
                            <input type="hidden" id="token" name="csrfmiddlewaretoken" value="{{request.META.CSRF_COOKIE}}">
                        </div>
                        <button class="btn waves-effect waves-light login-button right" type="submit" name="action">Login
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if not request.user.is_authenticated %}
        <button class="btn waves-effect waves-light login-button btn-large modal-trigger" href="#login-modal">LOGIN TO CONTINUE
            <i class="mdi-content-send right"></i>
        </button>
    {% else %}
        <a href="{% url 'dashboard' %}">
            <button class="btn waves-effect waves-light btn-large">GO TO DASHBOARD
                <i class="mdi-content-send right"></i>
            </button>
        </a>
    {% endif %}

</div>
{% endblock content %}
