{% extends "base_site.html" %}
{% load staticfiles %}

{% block local_css %}

{% endblock local_css %}

{% block content %}

    <h3>Invite staff</h3>
    <p>Enter staff emails here</p>
    <form action="{% url 'invite-staff' %}" method="POST">
    {% csrf_token %}
        <input style="width: 300px; height: 300px" name="staff-emails"/>
        <input type="submit" value="Send invitation"/>
    </form>
    <input type="button" value="Dashboard"/>

{% endblock content %}

{% block local_js %}

{% endblock local_js %}

