.the-container, .fellow-summary {
    width: 90%;
    margin: 20px auto 20px;
    background: #fafafa;
    font-family: 'Noto sans', sans-serif;
}

.fellow-summary {
    padding: 10px 20px;
}

.fellow-summary li {
    display: inline-block;
    text-transform: uppercase;
}

.the-container {
    text-align: center;
    min-height: 50vh;
    padding: 20px;
}

.the-container ul li {
    display: inline-block;
}

.the-container ul li a:hover {
    color: #fff !important;
}

.the-container ul {
    text-align: right;
}

th {
    min-width: 200px !important;
}

.fellow-info {
    overflow-x: scroll;
    min-height: 50vh;
}

td {
    max-width: 200px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.card a {
    text-transform: none;
    color: black;
}

.fellow-link{
    color: #26a69a !important;
}

.card a:hover {
    color: #40c4ff !important;
}

.fellow-link:hover {
    text-decoration: underline;
}

.modal {
    width: 60vw;
    height: 50vw;
    border-radius: 5px;
    background: #e0f7fa;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
}

.modal-close:hover {
    font-size: 32px;
    color: #e53935;
}

.pay-info {
    text-align: left;
}

.terminate-button {
    position: absolute;
    right: 30px;
}

.change-button {
    position: absolute;
    left: 30px;
}

.create-button {
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}
